.swiper {
  max-width: 1400px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  img {
    min-width: 300px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (width < 500px) {
  .swiper {
    max-width: 400px;
    flex-direction: column;
  }
}
