.footer {
  padding: 62px 0 82px 0;
  width: 100%;
  height: 318px;
  background: #d42d31;

  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -0.48px;
  }

  h3 {
    margin-top: 12px;
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -0.48px;
  }

  p {
    margin-top: 96px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  section {
    display: flex;
    gap: 32px;
  }
}
