.block {
  position: relative;
  width: 100%;
  height: calc(100vh + 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 340px;

  h1 {
    color: #fff;
    text-align: right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;

    span {
      color: #d42d31;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 100px;

    p {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-size: 30px;
      font-weight: 400;

      span {
        font-weight: 700;
      }
    }
  }
}

@media screen and (width < 500px) {
  .block {
    gap: 40px;

    h1 {
      font-size: 24px;
      font-weight: 400;
      -webkit-text-stroke: 0px;

      span {
        color: #d42d31;
      }
    }

    section {
      gap: 50px;

      p {
        font-size: 14px;
        font-weight: 400;

        span {
          font-weight: 400;
        }
      }
    }
  }
}
