.block {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  & > p {
    color: #4c4c4c;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 80px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 160px;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      span {
        color: #d42d31;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
      }

      p {
        margin-top: 12px;
        color: #5a5a5a;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (width < 500px) {
  .block {
    h2 {
      font-size: 28px;
    }

    & > p {
      font-size: 14px;
    }

    .info {
      gap: 10px;
      margin-bottom: 160px;

      section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        img {
          width: 80px;
        }

        span {
          text-align: center;
          font-size: 14px;
        }

        p {
          margin-top: 12px;
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }
}
